<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Form with Flask</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #FAFAF5;
        }
        
        .btn-custom-color {
            background-color: #918f8d;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="text-secondary">Begin your adventure</h1>
            <div style="padding: 10px;"></div>
            <p class="text-muted mb-2">Where are you going?</p>
        </div>
        <!-- starting and ending point submission -->
        <form id="firstForm" action="/submit_form" method="post" class="row justify-content-center">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="startingpt" class="form-control custom-width" name="startingpt" placeholder="514 Park Drive, Boston, MA">
                </div>
            </div>
        
            <div class="col-md-3">
                <div class="form-group">
                    <input type="endingpt" class="form-control custom-width" name="endingpt" placeholder="Broadway & W 116th St, New York City, NY">
                </div>
            </div>
            
            <div class="col-12">
                <div style="padding: 10px;"></div>
            </div>

            <!-- date field -->
            <div class="col-md-12 text-center">
                <p class="text-muted mb-2">When?</p> 
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <input type="date" class="form-control custom-width" name="date" id="customDate" placeholder="Select date"
                           min="{{min_date}}" max="{{max_date}}">
                </div>
            </div>
            
            <!-- JavaScript for custom dates calendar-->
            <script>
                const today = new Date();
                const fiveDaysLater = new Date();
                fiveDaysLater.setDate(fiveDaysLater.getDate() + 5);
            
                const customDateInput = document.getElementById('customDate');
                const minDate = today.toISOString().split('T')[0];
                const maxDate = fiveDaysLater.toISOString().split('T')[0];
            
                customDateInput.setAttribute('min', minDate);
                customDateInput.setAttribute('max', maxDate);
            </script>

            <!-- hour, minute, and am/pm field -->
            <div class="col-md-1">
                <div class="form-group">
                    <select class="form-control" id="hour">
                      <option value="" disabled selected>Hour</option>
                      <option>01</option>
                      <option>02</option>
                      <option>03</option>
                      <option>04</option>
                      <option>05</option>
                      <option>06</option>
                      <option>07</option>
                      <option>08</option>
                      <option>09</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                    </select>
                </div>
            </div>
            
            <div class="col-md-1">
                <div class="form-group">
                    <select class="form-control" id="minute">
                      <option value="" disabled selected>Minute</option>
                      <option>00</option>
                      <option>15</option>
                      <option>30</option>
                      <option>45</option>
                    </select>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <select class="form-control" id="ampm">
                      <option value="" disabled selected>AM/PM</option>
                      <option>AM</option>
                      <option>PM</option>
                    </select>
                </div>
            </div>

            <div class="col-12">
                <div style="padding: 10px;"></div>
            </div>

            <div class="col-md-12 text-center">
                <p class="text-muted mb-2">What are you stopping for?</p> 
            </div>
            
            <!-- cuisine field -->
            <div class="col-md-3">
                <div class="form-group">
                    <input type="cuisine" id="cuisineField" class="form-control custom-width" name="cuisine" placeholder="Japanese Food">
                </div>
            </div>


            <!-- budget field -->
            <div class="col-md-1">
                <div class="form-group">
                    <select class="form-control" id="budget">
                      <option value="" disabled selected>Budget</option>
                      <option>$</option>
                      <option>$$</option>
                      <option>$$$</option>
                      <option>$$$$</option>
                    </select>
                </div>
            </div>


            <div class="col-12 text-center">
                <div style="padding: 10px;"></div>
                <button id="firstSubmit" type="submit" class="btn btn-custom-color">Find Stop</button>
            </div>
        </form>

        <div class="col-12">
            <div style="padding: 10px;"></div>
        </div>

        <!-- restaurant choices -->
        <form id="secondForm" action="/result" method="post" class="row justify-content-center">
            <div class="col-md-6 mx-auto">
                <div id="secondSubmitWrapper" style="display: none;">
                    <div class="list-group">
                        <label class="list-group-item">

                            <!-- first restaurant -->
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <input class="form-check-input me-1" type="radio" name="options" value="option1">
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-auto">
                                            <h5 class="mb-1">{{restName1}}</h5>
                                        </div>
                                        <div class="col-auto">
                                            <p class="mb-1">{{restDuration1}} hour(s) away, {{restDistance1}} mile(s)</p>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <img src="{{ url_for('static', filename='small_0.png') }}" alt="Yelp Stars">
                                        </div>      
                                        <div class="col-auto">
                                            <p class="mb-1">{{restBudget1}}</p>
                                        </div>
                                    </div>
                                    <small>Open: {{restHours1}} | {{restAddress1}}</small>
                                </div>
                            </div>
                        </label>

                        <!-- second restaurant -->
                        <label class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <input class="form-check-input me-1" type="radio" name="options" value="option1">
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-auto">
                                            <h5 class="mb-1">{{restName1}}</h5>
                                        </div>
                                        <div class="col-auto">
                                            <p class="mb-1">{{restDuration1}} hour(s) away, {{restDistance1}} mile(s)</p>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <img src="{{ url_for('static', filename='small_0.png') }}" alt="Yelp Stars">
                                        </div>      
                                        <div class="col-auto">
                                            <p class="mb-1">{{restBudget1}}</p>
                                        </div>
                                    </div>
                                    <small>Open: {{restHours1}} | {{restAddress1}}</small>
                                </div>
                            </div>
                        </label>

                        <!-- third restaurant -->
                        <label class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <input class="form-check-input me-1" type="radio" name="options" value="option1">
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-auto">
                                            <h5 class="mb-1">{{restName1}}</h5>
                                        </div>
                                        <div class="col-auto">
                                            <p class="mb-1">{{restDuration1}} hour(s) away, {{restDistance1}} mile(s)</p>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <img src="{{ url_for('static', filename='small_0.png') }}" alt="Yelp Stars">
                                        </div>      
                                        <div class="col-auto">
                                            <p class="mb-1">{{restBudget1}}</p>
                                        </div>
                                    </div>
                                    <small>Open: {{restHours1}} | {{restAddress1}}</small>
                                </div>
                            </div>
                        </label>

                    </div>
                
                    <div class="col-12 text-center">
                        <div style="padding: 10px;"></div>
                       <button id="secondSubmit" type="submit" class="btn btn-custom-color">Adventure time!</button>
                    </div>

                </div>
            </div>

            <div class="col-12">
                <div style="padding: 10px;"></div>
            </div>

            <!-- JavaScript to toggle visibility -->
            <script>
                document.getElementById('firstSubmit').addEventListener('click', function (event) {
                    event.preventDefault();
                    var cuisineValue = document.getElementsByName('cuisine')[0].value;
            
                    if (cuisineValue !== '') {
                        document.getElementById('secondForm').style.display = 'block';
                        document.getElementById('secondSubmitWrapper').style.display = 'block';
                    } else {
                        // alert('Please fill out the cuisine field before proceeding.');
                        document.getElementById('secondForm').style.display = 'block';
                        document.getElementById('secondSubmitWrapper').style.display = 'block';
                    }
                });
            </script>
            

        </form>
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
