<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>MunchMap Odyssey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #FAFAF5;
        }
        .btn-custom-color {
            background-color: #b0adab; 
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #333; 
        }
        input[type="time"] {
            padding: 6px;
            border: 1px solid #d0d0d6; 
            border-radius: 4px; /* Rounded corners */
            font-size: 16px; 
            color: #2b2b2b;
        }
        .h1 {
            font-size: 2.5rem; 
            color: #2b2b2b; 
            /* font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;  */
        }
    </style>
    </style>
</head>

<body>

    <div class="container mt-5">
        <div class="text-center">
            <div class="col-md-12">
                <img src="{{ url_for('static', filename='bannar1.png') }}" alt="banner" style="max-width: 60%;">                                       
            </div>
            <div style="padding: 10px;"></div>
            <p class="text-muted mb-2">Where are you going?</p>
        </div>
        
        <!-- starting and ending point submission -->
        <form id="firstForm" action="/" method="post" class="row justify-content-center">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control custom-width" name="startingpt" placeholder="514 Park Drive, Boston, MA" value="{{ request.form.get('startingpt', '') }}" required>
                </div>
            </div>

            <div class="col-md-1 text-center" style="margin-right: -40px; margin-left: -40px">
                <p class="text-muted">&rarr;</p>
            </div>
        
        
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control custom-width" name="endingpt" placeholder="Broadway & W 116th St, New York City, NY" value = "{{request.form.get('endingpt', '')}}" required>
                </div>
            </div>
            
            <div class="col-12">
                <div style="padding: 10px;"></div>
            </div>

            <!-- date field -->
            <div class="col-md-12 text-center">
                <p class="text-muted mb-2">When?</p> 
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <input type="date" class="form-control custom-width" name="date" id="customDate" placeholder="Select date"
                           min="{{min_date}}" max="{{max_date}}" value = "{{request.form.get('date', '')}}" required>
                </div>
            </div>
            
            <!-- JavaScript for custom dates calendar-->
            <script>
                const today = new Date();
                const fiveDaysLater = new Date();
                fiveDaysLater.setDate(fiveDaysLater.getDate() + 5);
            
                const customDateInput = document.getElementById('customDate');
                const minDate = today.toISOString().split('T')[0];
                const maxDate = fiveDaysLater.toISOString().split('T')[0];
            
                customDateInput.setAttribute('min', minDate);
                customDateInput.setAttribute('max', maxDate);
            </script>

            <!-- hour, minute, and am/pm field -->
            <div class="col-md-1">
                <div class="form-group">
                    <input type="time" id="departure_time" name="departure_time" value = "{{request.form.get('departure_time', '')}}" required>
                </div>
            </div>

            <div class="col-12">
                <div style="padding: 10px;"></div>
            </div>

            <div class="col-md-12 text-center">
                <p class="text-muted mb-2">What are you stopping for?</p> 
            </div>
            
            <!-- cuisine field -->
            <div class="col-md-3">
                <div class="form-group">
                    <input type="cuisine" id="cuisineField" class="form-control custom-width" name="cuisine" placeholder="Japanese Food" value = "{{request.form.get('cuisine', '')}}">
                </div>
            </div>


            <!-- budget field -->
            <div class="col-md-1">
                <div class="form-group">
                    <select class="form-control" id="budget" name="budget">
                        <option value="" disabled selected>Budget</option>
                        <option value='1' {% if request.form.get('budget','') == '1' %}selected{% endif %}>$</option>
                        <option value='2' {% if request.form.get('budget','') == '2' %}selected{% endif %}>$$</option>
                        <option value='3' {% if request.form.get('budget','') == '3' %}selected{% endif %}>$$$</option>
                        <option value='4' {% if request.form.get('budget','') == '4' %}selected{% endif %}>$$$$</option>
                    </select>
                </div>
            </div>

            <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () {
                'use strict'
    
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation')
    
                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                        }
    
                        form.classList.add('was-validated')
                    }, false)
                    })
                })()
            </script>


            <div class="col-12 text-center">
                <div style="padding: 10px;"></div>
                <button id="firstSubmit" type="submit" class="btn btn-custom-color">Find Stop</button>
            </div>
        </form>

        <div class="col-12">
            <div style="padding: 10px;"></div>
        </div>

        {% if formFilled %}

        <!-- restaurant choices, a for loop iterating through the dictionary passed by yelp api -->
        <form id="secondForm" action="/result" method="post" class="row justify-content-center">
            <div class="col-md-6 mx-auto">
                <div id="secondSubmitWrapper">
                    <div class="list-group">
                        {% for restaurant in restaurants %}
                            <label class="list-group-item">

                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <input class="form-check-input me-1" type="radio" name="options" value="{{ loop.index }}">
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-auto">
                                                <h5 class="mb-1">{{restaurant['name']}}</h5>
                                            </div>
                                            <div class="col-auto">
                                                <p class="mb-1"> <!-- insert google maps api data here -->{{travelData[0]["hours"]}} hour(s) away, <!-- insert google maps api data here -->{{travelData[0]["distance"]}} mile(s)</p>
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div> 
                                                    {% if restaurant['rating'] == 0 %}
                                                        <img src="{{ url_for('static', filename='small_0.png') }}" alt="Yelp Stars">                                       
                                                    {% elif restaurant['rating'] == 1 %}
                                                        <img src="{{ url_for('static', filename='small_1.png') }}" alt="Yelp Stars">
                                                    {% elif restaurant['rating'] == 1.5 %}
                                                        <img src="{{ url_for('static', filename='small_1_half.png') }}" alt="Yelp Stars">
                                                    {% elif restaurant['rating'] == 2 %}
                                                        <img src="{{ url_for('static', filename='small_2.png') }}" alt="Yelp Stars">
                                                    {% elif restaurant['rating'] == 2.5 %}
                                                        <img src="{{ url_for('static', filename='small_2_half.png') }}" alt="Yelp Stars">
                                                    {% elif restaurant['rating'] == 3 %}
                                                        <img src="{{ url_for('static', filename='small_3.png') }}" alt="Yelp Stars">
                                                    {% elif restaurant['rating'] == 3.5 %}
                                                        <img src="{{ url_for('static', filename='small_3_half.png') }}" alt="Yelp Stars">
                                                    {% elif restaurant['rating'] == 4 %}
                                                        <img src="{{ url_for('static', filename='small_4.png') }}" alt="Yelp Stars">
                                                    {% elif restaurant['rating'] == 4.5 %}
                                                        <img src="{{ url_for('static', filename='small_4_half.png') }}" alt="Yelp Stars">
                                                    {% elif restaurant['rating'] == 5 %}
                                                        <img src="{{ url_for('static', filename='small_5.png') }}" alt="Yelp Stars">
                                                    {% endif %}
                                                </div>
                                            </div>      
                                            <div class="col-auto">
                                                <p class="mb-1">{{restaurant['price']}}</p>
                                            </div>
                                        </div>
                                        <small>Open: <!-- insert yelp api hours data here --> | {{restaurant['address']}}</small>
                                    </div>
                                </div>
                            </label>
                        {% endfor %}

                    </div>        
                    <div class="col-12 text-center">
                        <div style="padding: 10px;"></div>
                        <button id="secondSubmit" type="submit" class="btn btn-custom-color">Adventure time!</button>
                    </div>
                </div>
            </div>
        
            <div class="col-12">
                <div style="padding: 10px;"></div>
            </div>
    
        </form>

        {% endif %}

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>